<footer class="container site-footer">
    <section class="social">
        <a href="mailto:{{ site.email }}">{% fa envelope-o %}</a>
        <a href="https://facebook.com/{{ site.facebook }}">{% fa facebook %}</a>
        <a href="https://github.com/{{ site.github }}">{% fa github %}</a>

    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/prettify.js"></script>
    <script src="/assets/js/skeleton.js"></script>
</footer>
